<Blazorise.ThemeProvider Theme="@AppTheme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <PageProgressAlert/>
</Blazorise.ThemeProvider>

@code {
    private Theme AppTheme = new Theme
    {
        // https://blazorise.com/docs/theming/#theme-structure
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#5e72e4",
            Secondary = "#ffffff"
        }
    };
}